@let homePage = homePage$ | async;

<app-paris  [data]="homePage" [slug]="slug()" *ngIf="homePage?.slug === 'paris'"></app-paris>
<app-tokyo  [data]="homePage" [slug]="slug()" *ngIf="homePage?.slug === 'tokyo'"></app-tokyo>
<app-osaka  [data]="homePage" [slug]="slug()" *ngIf="homePage?.slug === 'osaka'"></app-osaka>
<app-rome   [data]="homePage" [slug]="slug()" *ngIf="homePage?.slug === 'rome'"></app-rome>
<app-madrid [data]="homePage" [slug]="slug()" *ngIf="homePage?.slug === 'madrid'"></app-madrid>
<app-berlin [data]="homePage" [slug]="slug()" *ngIf="homePage?.slug === 'berlin'"></app-berlin>
<app-denver [data]="homePage" [slug]="slug()" *ngIf="homePage?.slug === 'denver'"></app-denver>
